In [3]:
import pandas as pd

# Load the OTU table
otu_table = pd.read_csv('Tara_OTUtableTax_Full.csv')

# Load the sample metadata
sample_metadata = pd.read_csv('Tara_SampleMeta.csv')

In [4]:
otu_table

,Domain,Phylum,Class,Order,Family,Genus,OTU.rep,TARA_018_DCM_0.22-1.6,TARA_018_SRF_0.22-1.6,TARA_023_DCM_0.22-1.6,...,TARA_085_MES_0.22-3,TARA_085_SRF_0.22-3,TARA_093_DCM_0.22-3,TARA_093_SRF_0.22-3,TARA_094_SRF_0.22-3,TARA_096_SRF_0.22-3,TARA_098_DCM_0.22-3,TARA_098_MES_0.22-3,TARA_098_SRF_0.22-3,TARA_099_SRF_0.22-3
0,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacteriales,Enterobacteriaceae,Enterobacter,AAAA02020713.1.1297,0.000000,0.00000,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000
1,Bacteria,Proteobacteria,Gammaproteobacteria,B38,Gammaproteobacteria(undef),Gammaproteobacteria(undef),AAAA02020732.66.1490,0.000000,0.00000,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000
2,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacteriales,Enterobacteriaceae,Enterobacter,AAAA02029623.1.1373,0.000000,0.00000,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000
3,Bacteria,Verrucomicrobia,Opitutae,Puniceicoccales,Puniceicoccaceae,Opitutae(undef),AACY020016122.205.1491,0.000000,0.00000,0.0,...,0.0,0.000000,0.001609,0.0,0.000783,0.002924,0.0,0.0,0.0,0.002082
4,Bacteria,Proteobacteria,Gammaproteobacteria,Alteromonadales,Alteromonadaceae,BD1-7 clade,AACY020061762.7.1504,0.002588,0.00449,0.0,...,0.0,0.000000,0.001609,0.0,0.002348,0.000000,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35646,Bacteria,Acidobacteria,Acidobacteria,Subgroup 6,Acidobacteria(undef),Acidobacteria(undef),Z95719.1.1544,0.000000,0.00000,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000
35647,Bacteria,Acidobacteria,Acidobacteria,Subgroup 6,Acidobacteria(undef),Acidobacteria(undef),Z95721.1.1546,0.000000,0.00000,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000
35648,Bacteria,Acidobacteria,Acidobacteria,Subgroup 6,Acidobacteria(undef),Acidobacteria(undef),Z95724.1.1547,0.000000,0.00000,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000
35649,Bacteria,Acidobacteria,Acidobacteria,Subgroup 6,Acidobacteria(undef),Acidobacteria(undef),Z95734.1.1547,0.000000,0.00000,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000
35650,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacteriales,Enterobacteriaceae,Enterobacter,Z96077.1.1498,0.000000,0.00000,0.0,...,0.0,0.001838,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000

In [5]:
df = otu_table.iloc[:, 6:]

In [6]:
mask = otu_table.astype(bool)

In [7]:
non_zero_values = otu_table[mask]

In [8]:
non_zero_values

,Domain,Phylum,Class,Order,Family,Genus,OTU.rep,TARA_018_DCM_0.22-1.6,TARA_018_SRF_0.22-1.6,TARA_023_DCM_0.22-1.6,...,TARA_085_MES_0.22-3,TARA_085_SRF_0.22-3,TARA_093_DCM_0.22-3,TARA_093_SRF_0.22-3,TARA_094_SRF_0.22-3,TARA_096_SRF_0.22-3,TARA_098_DCM_0.22-3,TARA_098_MES_0.22-3,TARA_098_SRF_0.22-3,TARA_099_SRF_0.22-3
0,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacteriales,Enterobacteriaceae,Enterobacter,AAAA02020713.1.1297,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bacteria,Proteobacteria,Gammaproteobacteria,B38,Gammaproteobacteria(undef),Gammaproteobacteria(undef),AAAA02020732.66.1490,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacteriales,Enterobacteriaceae,Enterobacter,AAAA02029623.1.1373,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bacteria,Verrucomicrobia,Opitutae,Puniceicoccales,Puniceicoccaceae,Opitutae(undef),AACY020016122.205.1491,NaN,NaN,NaN,...,NaN,NaN,0.001609,NaN,0.000783,0.002924,NaN,NaN,NaN,0.002082
4,Bacteria,Proteobacteria,Gammaproteobacteria,Alteromonadales,Alteromonadaceae,BD1-7 clade,AACY020061762.7.1504,0.002588,0.00449,NaN,...,NaN,NaN,0.001609,NaN,0.002348,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35646,Bacteria,Acidobacteria,Acidobacteria,Subgroup 6,Acidobacteria(undef),Acidobacteria(undef),Z95719.1.1544,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35647,Bacteria,Acidobacteria,Acidobacteria,Subgroup 6,Acidobacteria(undef),Acidobacteria(undef),Z95721.1.1546,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35648,Bacteria,Acidobacteria,Acidobacteria,Subgroup 6,Acidobacteria(undef),Acidobacteria(undef),Z95724.1.1547,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35649,Bacteria,Acidobacteria,Acidobacteria,Subgroup 6,Acidobacteria(undef),Acidobacteria(undef),Z95734.1.1547,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35650,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacteriales,Enterobacteriaceae,Enterobacter,Z96077.1.1498,NaN,NaN,NaN,...,NaN,0.001838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
mask = df.iloc[:,7:].apply(lambda x: sum(x != 0) >= 1, axis=1)

# Create a new DataFrame with the non-zero value and index for rows with multiple non-zero values
df_new = pd.DataFrame({
    'non_zero_index': df[mask].apply(lambda x: list(x[x != 0].index), axis=1),
    'non_zero_value': df[mask].apply(lambda x: list(x[x != 0].values), axis=1)
})
# Display the new DataFrame
print(df_new)

                                          non_zero_index  \
0                         [OTU.rep, TARA_070_SRF_0.22-3]
1                         [OTU.rep, TARA_145_MES_0.22-3]
2      [OTU.rep, TARA_112_DCM_0.22-3, TARA_070_MES_0....
3      [OTU.rep, TARA_004_DCM_0.22-1.6, TARA_004_SRF_...
4      [OTU.rep, TARA_018_DCM_0.22-1.6, TARA_018_SRF_...
...                                                  ...
35646                     [OTU.rep, TARA_065_MES_0.22-3]
35647  [OTU.rep, TARA_111_MES_0.22-3, TARA_142_MES_0....
35648  [OTU.rep, TARA_111_MES_0.22-3, TARA_137_DCM_0....
35649  [OTU.rep, TARA_100_MES_0.22-3, TARA_110_MES_0....
35650                     [OTU.rep, TARA_085_SRF_0.22-3]

                                          non_zero_value
0                     [AAAA02020713.1.1297, 0.002444689]
1                    [AAAA02020732.66.1490, 0.001016911]
2        [AAAA02029623.1.1373, 0.000940601, 0.000876178]
3      [AACY020016122.205.1491, 0.015366455, 0.014266...
4      [AACY020061762.7.1504, 0.00258788, 0.004489607...
...                                                  ...
35646                       [Z95719.1.1544, 0.000847206]
35647          [Z95721.1.1546, 0.000853133, 0.000898973]
35648  [Z95724.1.1547, 0.001706266, 0.000846174, 0.00...
35649  [Z95734.1.1547, 0.000898957, 0.00087512, 0.000...
35650                       [Z96077.1.1498, 0.001838066]

[34955 rows x 2 columns]

In [10]:
df_new.reset_index()
df_new['OTU.rep'] = df_new['non_zero_value'].apply(lambda x: x[0])
df_new['non_zero_value'] = df_new['non_zero_value'].apply(lambda x: x[1:])
df_new['non_zero_index'] = df_new['non_zero_index'].apply(lambda x: x[1:])

In [11]:
df3 = pd.merge(otu_table.iloc[:,0:7], df_new, on='OTU.rep')
df3[df3['OTU.rep']=='AB089126.1.1285']

,Domain,Phylum,Class,Order,Family,Genus,OTU.rep,non_zero_index,non_zero_value
295,Bacteria,Acidobacteria,Acidobacteria,Acidobacteriales,Acidobacteriaceae (Subgroup 1),Granulicella,AB089126.1.1285,[TARA_122_DCM_0.22-3],[0.001066587]

In [12]:
exploded = df3.explode(['non_zero_index','non_zero_value'])

In [13]:
exploded = exploded.rename(columns={'non_zero_index': 'Sample_ID', 'non_zero_value': 'OTU_value'})

In [14]:
combined = pd.merge(exploded, sample_metadata, left_on='Sample_ID',right_on='SampleID', how='left')

In [15]:
combined_grp = combined.groupby('Genus').count()

In [16]:
import altair as alt

In [19]:
combined

,Domain,Phylum,Class,Order,Family,Genus,OTU.rep,Sample_ID,OTU_value,SampleID,Year,Month,Latitude[degreesNorth],Longitude[degreesEast],SamplingDepth[m],LayerOfOrigin,MarinePelagicBiomes,OceanAndSeaRegion,MarinePelagicProvince
0,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacteriales,Enterobacteriaceae,Enterobacter,AAAA02020713.1.1297,TARA_070_SRF_0.22-3,0.002445,TARA_070_SRF_0.22-3,2010,9,-20.4091,-3.1759,5,SRF,Trades Biome,South Atlantic Ocean,South Atlantic Gyral Province
1,Bacteria,Proteobacteria,Gammaproteobacteria,B38,Gammaproteobacteria(undef),Gammaproteobacteria(undef),AAAA02020732.66.1490,TARA_145_MES_0.22-3,0.001017,TARA_145_MES_0.22-3,2012,2,39.2392,-70.0343,590,MES,Westerlies Biome,North Atlantic Ocean,Gulf Stream Province
2,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacteriales,Enterobacteriaceae,Enterobacter,AAAA02029623.1.1373,TARA_112_DCM_0.22-3,0.000941,TARA_112_DCM_0.22-3,2011,6,-23.2189,-129.4997,155,DCM,Trades Biome,South Pacific Ocean,"South Pacific Subtropical Gyre Province, North..."
3,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacteriales,Enterobacteriaceae,Enterobacter,AAAA02029623.1.1373,TARA_070_MES_0.22-3,0.000876,TARA_070_MES_0.22-3,2010,9,-20.4075,-3.1641,800,MES,Trades Biome,South Atlantic Ocean,South Atlantic Gyral Province
4,Bacteria,Verrucomicrobia,Opitutae,Puniceicoccales,Puniceicoccaceae,Opitutae(undef),AACY020016122.205.1491,TARA_004_DCM_0.22-1.6,0.015366,TARA_004_DCM_0.22-1.6,2009,9,36.5533,-6.5669,40,DCM,Westerlies Biome,North Atlantic Ocean,North Atlantic Subtropical Gyral Province
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540311,Bacteria,Acidobacteria,Acidobacteria,Subgroup 6,Acidobacteria(undef),Acidobacteria(undef),Z95734.1.1547,TARA_100_MES_0.22-3,0.000899,TARA_100_MES_0.22-3,2011,4,-12.9794,-96.0232,177,DCM,Trades Biome,South Pacific Ocean,"South Pacific Subtropical Gyre Province, North..."
540312,Bacteria,Acidobacteria,Acidobacteria,Subgroup 6,Acidobacteria(undef),Acidobacteria(undef),Z95734.1.1547,TARA_110_MES_0.22-3,0.000875,TARA_110_MES_0.22-3,2011,5,-1.8902,-84.6141,380,MES,Trades Biome,South Pacific Ocean,"South Pacific Subtropical Gyre Province, North..."
540313,Bacteria,Acidobacteria,Acidobacteria,Subgroup 6,Acidobacteria(undef),Acidobacteria(undef),Z95734.1.1547,TARA_137_MES_0.22-3,0.000806,TARA_137_MES_0.22-3,2011,12,14.2025,-116.6433,375,MES,Trades Biome,North Pacific Ocean,North Pacific Equatorial Countercurrent Province
540314,Bacteria,Acidobacteria,Acidobacteria,Subgroup 6,Acidobacteria(undef),Acidobacteria(undef),Z95734.1.1547,TARA_138_MES_0.22-3,0.000992,TARA_138_MES_0.22-3,2011,12,6.3559,-103.0598,450,MES,Trades Biome,North Pacific Ocean,North Pacific Equatorial Countercurrent Province
540315,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacteriales,Enterobacteriaceae,Enterobacter,Z96077.1.1498,TARA_085_SRF_0.22-3,0.001838,TARA_085_SRF_0.22-3,2011,1,-62.0385,-49.5290,5,SRF,Polar Biome,Southern Ocean,Antarctic Province